<article class="white-panel" >
  <a href="<%= juice_path(juice) %>"> <h2> <%= juice.name %> </h2> <%= image_tag(juice.photo) %> </a>
</article>

<% if juice.hit.try(:highlight).try(:ingredients) %>
  <% session[:ingredients][juice.id] = juice.hit.highlight.ingredients %>
<% end %>

<% if juice.hit.try(:highlight).try(:tags) %>
  <% session[:tags][juice.id] = juice.hit.highlight.tags %>
<% end %>
