<div class="dropdown pull-right">
  <% sorted_name =   params[:q].present? ? 'popularity' : 'score' %>
  <% unsorted_name = params[:q].present? ? 'relevance' :  'random' %>

  <button class="btn btn-default btn-xs dropdown-toggle dropdown-menu-button" type="button" data-toggle="dropdown">
    sorted by <%= params[:sort].present? ? sorted_name : unsorted_name %>
  <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <% if params[:sort].present? %>
      <li> <%= link_to unsorted_name.capitalize, params.except(:sort), class: 'btn-xs' %> </li>
    <% else %>
      <li> <%= link_to sorted_name.capitalize, params.merge(sort: 'score'), class: 'btn-xs'%> </li>
    <% end %>
  </ul>
</div>
